# The address on the local server to listen to.
KUBE_API_ADDRESS="--insecure-bind-address=0.0.0.0"

# The port on the local server to listen on.
KUBE_API_PORT="--insecure-port=8080"

# Port minions listen on
KUBELET_PORT="--kubelet-port=10250"

# Comma separated list of nodes in the etcd cluster
KUBE_ETCD_SERVERS="--etcd-servers={% for host in groups["K8S"] %}{% if hostvars[host]["ETCD"] == "yes" %}http://{{ hostvars[host]["ansible_ssh_host"] }}:2379,{% endif %}{% endfor %}"

# Address range to use for services
KUBE_SERVICE_ADDRESSES="--service-cluster-ip-range={{ Service_cluster_cidr }}"

# default admission control policies
KUBE_ADMISSION_CONTROL="--admission-control={{ KUBE_ADMISSION_CONTROL }}"

# Add your own!
KUBE_API_ARGS="--anonymous-auth=false"
#KUBE_API_ARGS="--anonymous-auth=false --runtime-config={{ KUBE_RUNTIME_CONFIG }} --service-node-port-range={{ Service_ports }} --enable-bootstrap-token-auth --token-auth-file=/etc/kubernetes/token.kubeconfig --tls-cert-file=/etc/kubernetes/ssl/k8s.pem --tls-private-key-file=/etc/kubernetes/ssl/k8s-key.pem --client-ca-file=/etc/kubernetes/ssl/ca.pem --service-account-key-file=/etc/kubernetes/ssl/ca-key.pem"
